body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2996px;
  height:2196px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:164px;
  width:2996px;
  height:2196px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1090px;
  width:2992px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:340px;
  width:504px;
  height:170px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:500px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:340px;
  width:516px;
  height:170px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:512px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2284px;
  top:340px;
  width:360px;
  height:170px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2748px;
  top:340px;
  width:376px;
  height:170px;
  font-family:'Bernard MT Condensed', 'Bernard MT';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:372px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:992px;
  width:1068px;
  height:172px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:172px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
}
#u5_input:disabled {
  color:grayText;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1964px;
  top:992px;
  width:984px;
  height:172px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:172px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  text-decoration:none;
  color:#000000;
}
#u6_input:disabled {
  color:grayText;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2392px;
  height:182px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:755px;
  width:2392px;
  height:182px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2868px;
  height:1016px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1344px;
  width:2868px;
  height:1016px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1552px;
  width:56px;
  height:20px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1502px;
  top:273px;
  width:808px;
  height:664px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:804px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:155px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2958px;
  top:992px;
  width:166px;
  height:155px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
