body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-2px;
  width:342px;
  height:87px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:338px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:11px;
  width:137px;
  height:42px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
  font-family:'Segoe UI Symbol';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u62_input:disabled {
  color:grayText;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:11px;
  width:1px;
  height:42px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  color:#000000;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:95px;
  width:838px;
  height:170px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  color:#000000;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:834px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:4px;
  width:151px;
  height:49px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:147px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:85px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:85px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:816px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:95px;
  width:1458px;
  height:816px;
  opacity:0.4;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:91px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:396px;
  width:160px;
  height:91px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:91px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:396px;
  width:160px;
  height:91px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol Regular', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:156px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Gothic Std B', 'Adobe Gothic Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:9px;
  width:76px;
  height:40px;
  font-family:'Adobe Gothic Std B', 'Adobe Gothic Std';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
