body {
  margin:0px;
  background-color:rgba(255, 204, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:116px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:116px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:116px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:0px;
  width:512px;
  height:116px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:442px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:134px;
  width:817px;
  height:442px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:160px;
  width:140px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:260px;
  width:140px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:366px;
  width:140px;
  height:49px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:704px;
  width:627px;
  height:160px;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:70px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:70px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:163px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:460px;
  height:70px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:90px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:167px;
  height:90px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:90px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:70px;
  width:460px;
  height:90px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:456px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:718px;
  width:120px;
  height:31px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:718px;
  width:134px;
  height:31px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:718px;
  width:134px;
  height:31px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:889px;
  width:627px;
  height:169px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:70px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:70px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:163px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:460px;
  height:70px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:99px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:167px;
  height:99px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:99px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:70px;
  width:460px;
  height:99px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:456px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:902px;
  width:134px;
  height:31px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:902px;
  width:134px;
  height:31px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:902px;
  width:120px;
  height:31px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:980px;
  width:95px;
  height:36px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:788px;
  width:95px;
  height:37px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:596px;
  width:342px;
  height:87px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:338px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:67px;
  width:93px;
  height:34px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:7px;
  width:153px;
  height:60px;
  font-family:'Segoe UI Symbol Bold', 'Segoe UI Symbol';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:149px;
  word-wrap:break-word;
}
